<script setup lang="ts">
const categories = [
  'Одежда и обувь',
  'Электроника',
  'Красота и здоровье',
  'Детские товары',
  'Спорт и фитнес',
  'Дом и сад',
  'Товары для домашних животных',
  'Книги и аудиокниги',
  'Игрушки и игры',
  'Товары для кухни',
  'Товары для творчества и хобби',
  'Украшения и аксессуары',
  'Мебель и интерьер',
  'Техника для кухни',
  'Техника для дома',
  'Телефоны и аксессуары',
  'Компьютеры и ноутбуки',
  'Аудио и видео техника',
  'Инструменты и оборудование',
  'Офисные товары',
  'Электронные книги и журналы',
  'Товары для ремонта и строительства',
  'Товары для ухода за собой',
  'Товары для офиса',
  'Товары для рыбалки и охоты',
  'Товары для уборки и ухода за домом',
  'Товары для растений и сада',
  'Товары для офиса',
];
</script>

<template>
  <section class="pb-12 mt-8 mx-auto max-w-7xl">
    <nav class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
      <NuxtLink
          v-for="category in categories"
          to="/products"
          :title="category"
          :aria-label="`Категория: ${category}`"
          class="cursor-pointer py-2 px-8 ring-1 ring-gray-300 rounded flex items-center justify-center gap-1 text-gray-600 hover:text-gray-800 hover:bg-gray-100 hover:ring-gray-400 hover:shadow-md"
      >
        <span class="truncate">{{ category }}</span>
      </NuxtLink>
    </nav>
  </section>
</template>

<style scoped>

</style>