<script setup>
useSeoMeta({
  title: 'Market',
  description: 'Market - Market',
  viewport: 'width=device-width, initial-scale=1.0',
  charset: 'UTF-8',
})

useHead({
  link: [
    {rel: 'preconnect', href: 'https://rsms.me'},
    {rel: 'stylesheet', href: 'https://rsms.me/inter/inter.css'},
  ],
})
</script>

<template>
  <NuxtLayout>
    <NuxtPage/>
  </NuxtLayout>
</template>
