<script setup lang="ts">
defineProps<{
  h1: String[],
  texts: String[],
}>()
</script>

<template>
  <section class="mx-auto max-w-7xl pb-10 lg:pb-12 pt-28 md:pt-32">
    <h1 v-if="h1[0]" class="text-3xl md:text-5xl lg:text-6xl text-balance text-black font-display">
      {{ h1[0] }} <span v-if="h1[1]" class="text-gray-500">{{ h1[1] }}</span>
    </h1>
    <p v-for="text in texts" class="mt-4 text-lg text-gray-600 text-balance w-full lg:w-1/2">
      {{ text }}
    </p>
    <slot/>
  </section>
</template>

<style scoped>

</style>