<script setup lang="ts">
const active = reactive({
  menu: false,
  category: false,
})

const setActive = (key: 'category' | 'menu') => {
  active[key] = !active[key]
}

const categories = [
  'Одежда и обувь',
  'Электроника',
  'Красота и здоровье',
  'Детские товары',
  'Спорт и фитнес',
  'Дом и сад',
  'Товары для домашних животных',
  'Книги и аудиокниги',
  'Игрушки и игры',
  'Товары для кухни',
  'Товары для творчества и хобби',
  'Украшения и аксессуары',
  'Мебель и интерьер',
  'Техника для кухни',
  'Техника для дома',
  'Телефоны и аксессуары',
  'Компьютеры и ноутбуки',
  'Аудио и видео техника',
  'Инструменты и оборудование',
  'Офисные товары',
  'Электронные книги и журналы',
  'Товары для ремонта и строительства',
  'Товары для ухода за собой',
  'Товары для офиса',
  'Товары для рыбалки и охоты',
  'Товары для уборки и ухода за домом',
  'Товары для растений и сада',
  'Товары для офиса',
];

const sortOptions = [
  'Рейтингу',
  'Количеству оценок',
  'Просмотрам',
  'Дате добавления',
  'Количеству отзывов',
]
</script>

<template>
  <div
      :class="{'left-0': active.menu, 'left-[-110%]': !active.menu}"
      class="overflow-hidden fixed z-30 lg:sticky top-0 lg:top-20 lg:max-w-[340px] lg:min-w-[340px] lg:h-[560px] p-0.5 text-sm text-gray-800 transition-all max-lg:w-screen max-lg:h-screen max-lg:flex max-lg:flex-col max-lg:justify-end bg-white/50 backdrop-blur-xl rounded"
  >
    <div
        class="ring-1 ring-gray-300 bg-white rounded shadow-md p-2 mt-[-1px]"
    >
      <button
          @click="setActive('category')"
          class="w-full flex items-center justify-between py-2 px-2 cursor-pointer hover:bg-gray-100 rounded"
      >
        <span class="font-medium pr-4">Категория</span>
        <span class="truncate text-xs w-2/3">{{ categories.join(', ') }}</span>
        <Icon name="material-symbols-light:line-end-arrow" class="size-5"/>
      </button>

      <div class="py-2 px-2 flex flex-col gap-2 divide-y divide-slate-200">
        <div class="font-medium">Сортировка по</div>
        <div class="pt-3 pb-1 space-y-1.5">
          <div class="flex gap-2" v-for="sortOption in sortOptions" :key="sortOption">
            <input :id="sortOption" name="sort" type="radio" checked>
            <label class="truncate" :for="sortOption">{{ sortOption }}</label>
          </div>
        </div>
        <div class="pt-3 space-y-1.5">
          <div class="flex gap-2">
            <input
                id="sortBy1"
                name="sortBy"
                type="radio"
            >
            <label for="sortBy1">По убыванию</label>
          </div>
          <div class="flex gap-2">
            <input
                id="sortBy2"
                name="sortBy"
                type="radio"
                checked
            >
            <label for="sortBy2">По возрастанию</label>
          </div>
        </div>
      </div>
      <button
          @click="setActive('menu')"
          class="w-full text-center mt-3 py-2 px-2 bg-gray-100 hover:bg-gray-200 rounded gap-2"
      >
        <span class="font-medium pr-4">Применить</span>
      </button>
    </div>

    <div
        :class="{'right-[1px]': active.category, 'right-[-105%]': !active.category}"
        class="absolute bottom-0 lg:top-[1px] w-full lg:w-[99.4%] lg:h-[99.4%] bg-white rounded transition-all p-2 overflow-hidden divide-y divide-slate-200 ring-1 ring-gray-300 shadow-md"
    >
      <div class="flex items-center justify-between pb-2">
        <button @click="setActive('category')" class="flex items-center py-2 px-2 hover:bg-gray-100 rounded gap-2">
          <Icon name="material-symbols-light:line-start-arrow" class="size-5"/>
          <span class="font-medium pr-4">Категория</span>
        </button>
        <button class="py-2 px-2 hover:underline">Сбросить</button>
      </div>
      <div class="py-2">
        <input
            type="text"
            class="h-8 w-full ring-gray-600 rounded outline-none px-3 pb-2 pt-1.5"
            placeholder="Фильтр по категориям"
        >
      </div>
      <div class="pb-2 pt-3 flex flex-col h-[400px] gap-1 overflow-y-scroll">
        <div class="flex gap-2" v-for="category in categories">
          <input :id="category" type="checkbox">
          <label class="truncate" :for="category">{{ category }}</label>
        </div>
      </div>
      <div>
        <button @click="setActive('category')" class="w-full text-center mt-3 py-2 px-2 bg-gray-100 rounded gap-2">
          <span class="font-medium pr-4">Выбрать</span>
        </button>
      </div>
    </div>
  </div>

  <div class="fixed bottom-0 left-0 lg:hidden w-screen bg-gray-200 p-2">
    <button
        @click="setActive('menu')"
        class="bg-white w-full px-3 py-2 flex justify-center items-center rounded border border-gray-300 active:shadow-none shadow"
    >
      Фильтр
    </button>
  </div>
</template>

<style scoped>
.overflow-y-scroll {
  scrollbar-width: auto;
  scrollbar-color: #9ca3af #ffffff;
}

.overflow-y-scroll::-webkit-scrollbar {
  width: 3px;
}

.overflow-y-scroll::-webkit-scrollbar-track {
  background: #ffffff;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border: 2px solid #ffffff;
}
</style>