<script setup lang="ts">
const products = [
  'https://basket-14.wbbasket.ru/vol2154/part215474/215474845/images/c516x688/2.webp',
  'https://basket-10.wbbasket.ru/vol1389/part138984/138984624/images/c516x688/1.webp',
  'https://basket-10.wbbasket.ru/vol1495/part149541/149541825/images/c516x688/1.webp',
  'https://basket-10.wbbasket.ru/vol1495/part149541/149541825/images/c516x688/1.webp',
  'https://basket-12.wbbasket.ru/vol1784/part178452/178452958/images/c516x688/1.webp',
  'https://basket-12.wbbasket.ru/vol1784/part178452/178452958/images/c516x688/1.webp',
  'https://basket-13.wbbasket.ru/vol1966/part196666/196666780/images/c516x688/1.webp',
  'https://basket-13.wbbasket.ru/vol1966/part196666/196666780/images/c516x688/1.webp',
  'https://basket-15.wbbasket.ru/vol2236/part223628/223628028/images/c516x688/1.webp',
  'https://basket-13.wbbasket.ru/vol1950/part195085/195085782/images/c516x688/1.webp',
  'https://basket-13.wbbasket.ru/vol1950/part195085/195085782/images/c516x688/1.webp',
  'https://basket-13.wbbasket.ru/vol1962/part196222/196222794/images/c516x688/1.webp',
  'https://basket-13.wbbasket.ru/vol1962/part196222/196222794/images/c516x688/1.webp',
  'https://basket-12.wbbasket.ru/vol1784/part178452/178452958/images/c516x688/1.webp',
  'https://basket-12.wbbasket.ru/vol1784/part178452/178452958/images/c516x688/1.webp',
  'https://basket-14.wbbasket.ru/vol2154/part215474/215474845/images/c516x688/2.webp',
]
</script>

<template>
  <div class="flex-grow">
    <PagesProductsSearch/>
    <ul class="mt-4 gap-3">
      <li v-for="product in products" :key="product">
        <ListProductItem :image="product"/>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
ul {
  --max-w: none;
  --min-w: auto;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  li {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      max-width: var(--max-w);
      min-width: var(--max-w);
    }
  }

  @media (max-width: 1270px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    --max-w: 240px;
    --min-w: 240px;
  }

  @media (max-width: 1123px) {
    --max-w: none;
    --min-w: auto;
  }

  @media (max-width: 1023px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    --max-w: 223px;
    --min-w: 223px;
  }

  @media (max-width: 950px) {
    --max-w: none;
    --min-w: auto;
  }

  @media (max-width: 860px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (max-width: 805px) {
    --max-w: 225px;
    --min-w: 225px;
  }

  @media (max-width: 725px) {
    --max-w: none;
    --min-w: auto;
  }

  @media (max-width: 639px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    --max-w: 230px;
    --min-w: 230px;
  }

  @media (max-width: 520px) {
    --max-w: 210px;
    --min-w: 210px;
  }

  @media (max-width: 460px) {
    --max-w: none;
    --min-w: auto;
  }
}
</style>