<script setup lang="ts">

</script>

<template>
  <form class="flex gap-2 text-gray-700 text-xs md:text-base mb-3 md:mb-6 lg:mb-10">
    <input
        class="outline-none px-2 md:px-3 h-8 md:h-10 w-full placeholder-gray-600 rounded border border-gray-300 focus:shadow-none shadow"
        type="text"
        placeholder="Наша страница каталога предлагает вам удобный поиск"
    >
    <button
        class="px-3 flex justify-center items-center rounded border border-gray-300 active:shadow-none shadow"
    >
      Поиск
    </button>
  </form>
</template>

<style scoped>

</style>