<script setup lang="ts">
const links = {
  main: [
    {href: '/about', label: 'О нас'},
    {href: '/faq', label: 'FAQ'},
    {href: '/contacts', label: 'Контакты'},
    {href: '/vacancy', label: 'Вакансии'},
    {href: '/sitemap', label: 'Карта сайта'},
  ],
  customers: [
    {href: '/products', label: 'Каталог'},
    {href: '/reviews', label: 'Отзывы'},
    {href: '/privacy-policy', label: 'Политика конфиденциальности'},
  ],
  social: [
    {href: 'https://www.deepl.com', label: 'Telegram'},
    {href: 'https://www.deepl.com', label: 'WhatsApp'},
    {href: 'https://www.deepl.com', label: 'Instagram'},
    {href: 'https://www.deepl.com', label: 'X / Twitter'},
  ],
}
</script>

<template>
  <footer class="ring-1 ring-gray-300 px-4">
    <div class="max-w-7xl mx-auto space-y-16 pt-16 pb-6 text-gray-600 2xl:px-0">
      <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
        <div>
          <span class="font-medium text-gray-950">Главное</span>
          <ul class="mt-4 list-inside space-y-4">
            <li v-for="link in links.main" :key="link.href">
              <NuxtLink :to="link.href" class="text-sm text-gray-600 hover:text-gray-800">{{ link.label }}</NuxtLink>
            </li>
          </ul>
        </div>
        <div>
          <span class="text-sm font-medium text-gray-950">Клиентам</span>
          <ul class="mt-4 list-inside space-y-4">
            <li v-for="link in links.customers" :key="link.href">
              <NuxtLink :to="link.href" class="text-sm text-gray-600 hover:text-gray-800">{{ link.label }}</NuxtLink>
            </li>
          </ul>
        </div>
        <div>
          <span class="text-sm font-medium text-gray-950">Социальные сети</span>
          <ul class="mt-4 list-inside space-y-4">
            <li v-for="link in links.social" :key="link.href">
              <a :href="link.href" class="text-sm text-gray-600 hover:text-gray-800">{{ link.label }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex items-center justify-between rounded-md bg-gray-100 px-6 py-3">
        <div class="text-gray-600">&copy; Market 2023</div>
        <div class="text-sm text-gray-600">Все права защищены</div>
      </div>
    </div>
  </footer>
</template>

<style scoped>

</style>