<script setup lang="ts">

const active = reactive({
  menu: false,
  other: false,
})

const setMenu = () => {
  active.menu = !active.menu

  const body = document.getElementsByTagName('body')[0]

  body.classList.toggle('overflow-hidden')
}

const setOther = () => {
  active.other = !active.other
}

const sidebar = [
  {href: '/products', label: 'Каталог'},
  {href: '/delivery-points', label: 'Пункты выдачи'},
  {href: '/contacts', label: 'Контакты'},
  {href: '/reviews', label: 'Отзывы'},
  {href: '/about', label: 'О нас'},
  {href: '/faq', label: 'FAQ'},
  {href: '/privacy-policy', label: 'Политика конфиденциальности'},
]

const sidebarLink = async (to: string) => {
  await navigateTo(to)

  setMenu()
}
</script>

<template>
  <header class="w-screen fixed z-40 top-0 left-0 py-3 ring-1 ring-gray-300 bg-white/50 backdrop-blur-xl px-4">
    <div class="max-w-7xl mx-auto flex items-center justify-between md:grid grid-cols-3 text-gray-600">
      <div class="block lg:hidden">
        <button @click="setMenu" :class="{'menu-open': active.menu}" class="btn-menu" type="button">
          <i class="btn-menu__bars" aria-hidden="true"></i>
        </button>
      </div>
      <div class="ml-1 md:ml-0">
        <NuxtLink to="/" class="cursor-pointer flex items-center text-gray-800">
          <Icon name="material-symbols:all-inclusive" class="size-7 md:size-9 text-sky-700"/>
          <div class="uppercase font-semibold ml-2 text-sm md:text-base">Market</div>
        </NuxtLink>
      </div>
      <nav class="hidden lg:flex lg:gap-9 lg:justify-center">
        <NuxtLink class="text-gray-600 hover:text-gray-900" to="/products">Каталог</NuxtLink>
        <div class="cursor-pointer text-gray-600 hover:text-gray-900" @click="setOther">
          Прочее
          <Icon
              name="material-symbols:keyboard-arrow-down"
              class="size-5 transform transition-all"
              :class="{'rotate-180': active.other}"
          />
        </div>
      </nav>
      <div class="flex justify-end gap-3 md:gap-7">
        <div class="flex items-center">
          <div class="text-xs md:text-sm">$1000</div>
        </div>
        <NuxtLink
            to="/cart"
            class="bg-white cursor-pointer py-1 px-2 md:py-2 md:px-4 ring-1 ring-gray-300 rounded flex items-center gap-2 text-gray-600 hover:text-gray-800 hover:bg-gray-100 hover:ring-gray-400"
        >
          <div class="font-medium text-sm">В корзину</div>
          <Icon name="material-symbols:arrow-forward-rounded" class="size-4"/>
        </NuxtLink>
      </div>
    </div>
  </header>
  <div
      :class="{'left-0': active.menu, 'left-[-110%]': !active.menu}"
      class="md:hidden fixed top-0 z-30 w-screen h-screen bg-white/70 backdrop-blur-xl pt-20 px-10"
  >
    <nav class="mt-6 flex flex-col gap-5">
      <a
          v-for="link in sidebar"
          :key="link.href"
          :href="link.href"
          @click.prevent="sidebarLink(link.href)"
          class="py-2 px-4 ring-1 rounded flex items-center justify-between gap-2 text-gray-800 bg-gray-100 ring-gray-400"
      >
        {{ link.label }}
        <Icon name="material-symbols:arrow-right-alt-rounded" class="size-6"/>
      </a>
    </nav>
  </div>
</template>

<style lang="scss" scoped>
.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 19px;
  border: none;
  background-color: transparent;
  color: inherit;
  transition: .3s ease;

  &:focus {
    outline: none;
  }

  &__bars {
    display: block;
    position: relative;
    width: 27px;
    height: 3px;
    background-color: #545557;
    transition: .3s;

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #545557;
      transition: .3s;
    }

    &:before {
      transform: translate(0, -8px);
    }

    &:after {
      transform: translate(0, 8px);
    }
  }

  &.menu-open {

    .btn-menu__bars {
      background-color: transparent;

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  @media (max-width: 768px) {
    &__bars {
      width: 22px;
      height: 2.5px;
      &:before, &:after {
        width: 22px;
        height: 2px;
      }
    }
  }
}
</style>
