<script setup lang="ts">
defineProps<{
  header?: string,
}>()
</script>

<template>
  <section class="mx-auto max-w-7xl mt-10 mb-20 gap-20">
    <div v-if="header" class="border-b border-gray-200 pb-5">
      <div class="text-xl font-semibold leading-6 text-slate-900">{{ header }}</div>
    </div>
    <slot/>
  </section>
</template>

<style scoped>

</style>