<script setup lang="ts">
const products = [
  'https://basket-14.wbbasket.ru/vol2154/part215474/215474845/images/c516x688/2.webp',
  'https://basket-10.wbbasket.ru/vol1389/part138984/138984624/images/c516x688/1.webp',
  'https://basket-10.wbbasket.ru/vol1495/part149541/149541825/images/c516x688/1.webp',
  'https://basket-12.wbbasket.ru/vol1784/part178452/178452958/images/c516x688/1.webp',
  'https://basket-13.wbbasket.ru/vol1966/part196666/196666780/images/c516x688/1.webp',
  'https://basket-15.wbbasket.ru/vol2236/part223628/223628028/images/c516x688/1.webp',
  'https://basket-13.wbbasket.ru/vol1950/part195085/195085782/images/c516x688/1.webp',
  'https://basket-13.wbbasket.ru/vol1962/part196222/196222794/images/c516x688/1.webp',
  'https://basket-12.wbbasket.ru/vol1784/part178452/178452958/images/c516x688/1.webp',
  'https://basket-14.wbbasket.ru/vol2154/part215474/215474845/images/c516x688/2.webp',
]
</script>

<template>
  <ul class="flex flex-wrap justify-center mt-4">
    <li v-for="product in products" :key="product">
      <ListProductItem :image="product"/>
    </li>
  </ul>
</template>

<style lang="scss" scoped>
ul {
  --gap: 1rem;
  --columns: 4;
  gap: var(--gap);

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));

    div {
      width: 245px;
    }
  }

  @media (max-width: 1152px) {
    --columns: 3;
  }

  @media (max-width: 768px) {
    --gap: 0.7rem;
    --columns: 2;
  }

  @media (max-width: 640px) {
    --columns: 2;
    li {
      margin-top: 0.5rem;
    }
  }
}


</style>