<script setup lang="ts">
defineProps<{
  image: string,
}>()

const active = reactive({
  favorite: false,
  count: 0,
})

const setFavorite = () => {
  active.favorite = !active.favorite
}

const setCount = () => {
  active.count++
}
</script>

<template>
  <div class="p-2 md:p-3 shadow md:hover:ring-1 md:hover:ring-gray-300 rounded-lg">
    <div class="w-full h-40 sm:h-44 md:h-48 lg:h-56 rounded-lg relative bg-[length:100%_100%]" :style="{'background-image': `url(${image})`}">
      <div
          @click="setFavorite"
          :class="active.favorite ? 'text-rose-700' : 'text-gray-800'"
          class="absolute top-1 right-1 bg-white/50 backdrop-blur cursor-pointer flex justify-center items-center rounded-md border border-gray-300 md:border-none p-0.5 md:p-1 active:shadow-none md:hover:shadow-none md:hover:ring-1 md:hover:ring-gray-300 shadow-md"
      >
        <Icon :name="`material-symbols-light:favorite${active.favorite ? '' : '-outline'}`" class="size-5 md:size-7"/>
      </div>
    </div>
    <div class="mt-1 md:mt-3 text-[10px] md:text-sm name">Asus Notebook 13 / FullHD 1080 / Processor Core I7-8000HQ /
      Processor
      Core I7-8000HQ
    </div>
    <div class="text-xs my-0.5 md:my-1 md:text-base">$10000 шт</div>
    <div class="w-full flex gap-1 md:gap-3 pt-1 mt-1 text-gray-700">
      <div
          class="cursor-pointer flex justify-center items-center rounded-md border border-gray-300 md:border-none w-full py-0.5 px-1 md:py-1 md:px-3 active:shadow-none md:hover:shadow-none md:hover:ring-1 md:hover:ring-gray-300 shadow-md text-xs md:text-base"
      >
        Подробнее
      </div>
      <button
          @click="setCount"
          class="cursor-pointer flex justify-center items-center rounded-md border border-gray-300 md:border-none p-0.5 md:p-1 active:shadow-none md:hover:shadow-none md:hover:ring-1 md:hover:ring-gray-300 shadow-md"
      >
        <Icon name="material-symbols-light:add" class="size-5 md:size-7"/>
      </button>
    </div>
  </div>
</template>

<style scoped>
.name {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>