<script setup>
const attributes1 = {
  'Интерфейс': 'AUX; HDMI; USB',
  'LAN разъем (RJ45)': 'Wi-Fi',
  'Порт USB 3.x': '2 шт',
  'Разъем HDMI': 'mini HDMI',
  'Разъем для наушн./микрофона': '3.5мм Jack 3,5 мм',
  'Разъем карт памяти': 'microSD',
  'Накопители данных': 'Тип накопителя SSD',
  'Объем накопителя': 'SSD 512 Гб',
  'Количество динамиков': '2 шт.',
  'Материал корпуса': 'пластик',
}

const attributes2 = {
  'Комплектация': 'ноутбук; зарядное устройство; инструкция',
  'Страна производства': 'Китай',
  'Толщина предмета': '2 см',
  'Глубина предмета': '32 см',
  'Ширина предмета': '21 см',
  'Вес без упаковки (кг)': '1.4 кг',
  'Вес с упаковкой (кг)': '1.9 кг',
  'Длина упаковки': '40 см',
  'Высота упаковки': '9 см',
  'Ширина упаковки': '25 см',
}
</script>

<template>
  <div class="mx-auto max-w-7xl py-28">
    <div>
      <h1 class="text-2xl md:text-3xl lg:text-4xl text-balance text-black font-display">
        Ноутбук 14" Intel Celeron N4200, 12GB RAM, 512GB SSD Ноутбук SmartX-BooKPro - это верное решение для ваших
        рабочих задач.
      </h1>
      <p class="mt-5 text-md text-gray-600 w-full">
        Таким образом, наш офисный ноутбук не только поможет вам справиться с вашей работой, но и станет отличным
        компаньоном для развлечений. Кроме того, наш ноутбук имеет операционную систему Windows 10 Pro, которая
        предлагает широкий набор функций и возможностей для повышения вашей производительности. Вы будете иметь доступ к
        всем необходимым программам и приложениям для работы. Достигните большего с рядом портов, включая мини-HDMI,
        порт Micro TF, USB 3.0 и USB. Наш офисный ноутбук также оснащен веб-камерой 0,3 МП, что позволяет проводить
        видеоконференции и онлайн-встречи с коллегами или партнерами. Вы сможете легко поддерживать связь и работать в
        команде, не выходя из офиса или дома. Если у Вас возникли проблемы или есть вопросы, обращайтесь в нашу
        поддержку, для этого отсканируйте QR-КОД на визитке или на последней фотографии в карточке товара.
      </p>
    </div>
    <div class="mt-10">
      <div class="text-xl font-medium mb-4">Характеристики</div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-14 gap-y-1">
        <div class="w-full space-y-1">
          <div class="flex" :key="attribute" v-for="attribute in Object.keys(attributes1)">
            <div class="font-medium text-gray-800 mr-1">{{attribute}}:</div>
            <div class="ml-auto text-right text-gray-800">{{attributes1[attribute]}}</div>
          </div>
        </div>
        <div class="w-full space-y-1">
          <div class="flex" :key="attribute" v-for="attribute in Object.keys(attributes2)">
            <div class="font-medium text-gray-800 mr-1">{{attribute}}:</div>
            <div class="ml-auto text-right text-gray-800">{{attributes2[attribute]}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
