<script setup lang="ts">
const hero = {
  h1: ['Здесь вы найдете', 'огромный выбор товаров'],
  texts: [
    'Наша страница каталога предлагает вам удобный поиск и фильтрацию по категориям, брендам, магазинам, ценам и атрибутам товаров.',
    'Используйте наши удобные инструменты поиска и фильтрации, чтобы быстро найти то, что вам нужно. Приятных покупок!'
  ]
}
</script>

<template>
  <PagesCommonHero :h1="hero.h1" :texts="hero.texts"/>
  <div class="mx-auto max-w-7xl flex gap-3 pb-8 pt-4 relative">
    <PagesProductsGrid/>
    <PagesProductsFilter/>
  </div>
</template>

<style scoped>

</style>