<script setup lang="ts">
const hero = {
  h1: ['Лучшие избранные магазины', 'с хорошим ассортиментом'],
  texts: [
    'Мы ценим ваше доверие и стремимся сделать ваше онлайн-путешествие по магазинам незабываемым. Наши клиенты - это наша главная ценность!',
  ]
}
</script>

<template>
  <PagesCommonHero :h1="hero.h1" :texts="hero.texts">
    <div class="flex flex-wrap gap-2 mt-6">
      <a href="/products" title="link to your page" aria-label="your label"
         class="cursor-pointer py-2 px-4 hover:ring-1 ring-gray-500 rounded text-gray-100 bg-gray-700 hover:text-gray-800 hover:bg-gray-200 hover:ring-gray-400"
      >
        Каталог
      </a>
      <a href="/products" title="link to your page" aria-label="your label"
         class="cursor-pointer py-2 px-4 ring-1 ring-gray-300 rounded flex items-center gap-1 text-gray-600 hover:text-gray-800 hover:bg-gray-100 hover:ring-gray-400"
      >
        Поиск
      </a>
    </div>
  </PagesCommonHero>
  <ListCategoryList/>
  <List header="Популярные товары на сегодня">
    <ListProductList/>
  </List>
  <List header="Скидки для товаров">
    <ListProductList/>
  </List>
</template>

<style scoped>

</style>